.centerAlign {
  text-align: center;
}

.Link{
  color: inherit;
  text-decoration: none;
}

.button {
  transition: .2s;
  cursor: pointer;
  margin: auto;
  padding: 7px 50px 10px;
  display:inline-block;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: solid 1px;
  text-align: center;
} .button:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
} .button:focus {
  transform: scale(1.2);
  background-color: white;
  color: black;
  text-decoration: underline;
  border-color: rgba(0, 0, 0, 0);
} .button:active {
  transform: scale(.9);
}

.greenButton {
  background-color: #080;
  border-color: #080;
}

.blueButton {
  background-color: #00a;
  border-color: #00a;
}

.redButton {
  background-color: #800;
  border-color: #800;
}

.grayButton {
  background-color: #666;
  border-color: #666;
}

.whiteButton {
  color: black;
  background-color: white;
  border-color: white;
  padding: 0 10px;
} .whiteButton:hover {
  border-color: gray;
} .whiteButton:focus {
  border-color: gray;
}

.Hat {
  padding: 10px 20px;
  border-bottom: solid 1px gray;
  position: sticky;
  top: 0;
  background-color: white;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.floatClear {
  clear: both;
}

.credentialsCard {
  margin: 10px calc(40% - 100px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.CheckUsernameCard {
  color: white;
  background-color: white;
  border-radius: 5px;
  transition: .2s;
}

.errorModalHead {
  background-color: #900;
  color: white;
  padding: 10px 20px; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-block-end: 0;
}

.underlink {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
  transition: .2s;
  font-size: 70%;
  display:inline-block;
} .underlink:hover {
  transform: scale(1.4);
} .underlink:focus {
  transform: scale(1.4);
}

.pad1020 {
  padding: 10px 20px;
}

.smallGray {
  color: #888;
  font-size: 80%;
}

.likes {
  color: #080;
  font-size: 120%;
}

.hates {
  color: #800;
  font-size: 120%;
}

.error {
  background-color: #800;
  color: white;
  padding: 10px;
}

.BlogRate {
  text-align: center;
  margin: 20px;
}

.smaller {
  transform: scale(.7);
}

.MobilePad {
  margin-top: 150px;
}

.input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.titleRow{
  flex: 0 1 auto;
  display: flex;
  flex-flow: row;
  transition: .5s;
}

.titleInput {
  font-weight: bold;
  font-size: 120%;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
  flex: 1 1 auto;
}

.toggleButton {
  flex: 0 1 auto;
  background-color: #e8e8e8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.contentInput {
  flex: 1 1 auto;
}

.editPageHeader {
  flex: 0 1 auto;
  background-color: #e8e8e8;
  padding: 3px 10px 0 20px;
  width: 100%;
}

.EditPage {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.smallButton {
  font-size: 70%;
  padding: 2px 10px;
}

.EditPageHeaderLeft {
  display: inline-block;
}

.ReadTimeHUD {
  margin-top: 2px;
}

.tiptool {
  user-select: none;
  color: rgba(0, 0, 0, .3);
}

.tooltip {
  font-size: 18px;
  padding: 3px 15px;
  border-radius: 5px;
}
.tooltipRed {
  background-color: #800 !important;
}

.red {
  color: #800;
}

.opinionTip {
}
